In [16]:
import pandas as pd

In [17]:
peliculas = pd.read_parquet("df_final.parquet")
peliculas['popularity'] = peliculas['popularity'].astype(str)
peliculas['id'] = peliculas['id'].astype(str)

In [ ]:
# Aca va el dataset credits que recomendaron no subir a github
# lo puse en otra carpeta de mi local pero lo podria haber incluido en el archivo .gitignore
personas = pd.read_csv("C:/Users/Jose Quispe}/Desktop/SoyHenry/Proyecto Individual 1/credits.csv", dtype={'id':str})

In [19]:
# Veamos que tenemos
personas.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [20]:
peliculas = peliculas.merge(personas, on='id')
peliculas.dropna(inplace=True)

In [21]:
peliculas = peliculas[['id', 'revenue', 'release_date', 'cast', 'crew', 'return', 'budget', 'title' ]]

In [22]:
import ast

In [23]:
def convert(text):
    valores = []
    count = 0
    for i in ast.literal_eval(text):
        if count < 4:
            valores.append(i['name'])
        count += 1
    return valores

In [24]:
peliculas['cast'] = peliculas['cast'].apply(convert)

In [25]:
def convert_2(text):
    lista = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            lista.append(i['name'])
        return lista

In [26]:
peliculas['crew'] = peliculas['crew'].apply(convert_2)

In [27]:
peliculas.head(1)

,id,revenue,release_date,cast,crew,return,budget,title
1,8844,262797249.0,1995-12-15,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[],4.043035,65000000,Jumanji

In [ ]:
peliculas['crew'] = peliculas['crew'].apply(lambda x: x if isinstance(x, list) else [])

In [14]:
peliculas['crew']

1                       []
2          [Howard Deutch]
3        [Forest Whitaker]
4                       []
5           [Michael Mann]
               ...
45435      [Saul Blinkoff]
45440     [Shanra J. Kehl]
45442                   []
45444           [Ben Rock]
45448     [Mark L. Lester]
Name: crew, Length: 20404, dtype: object

In [ ]:
unique_types = peliculas['crew'].apply(type).unique()
print(unique_types)

In [31]:
peliculas.to_parquet('peliculas.parquet', index=False)

In [32]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20404 entries, 1 to 45448
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20404 non-null  object
 1   revenue       20404 non-null  float64
 2   release_date  20404 non-null  datetime64[ns]
 3   cast          20404 non-null  object
 4   crew          20404 non-null  object
 5   return        20404 non-null  float64
 6   budget        20404 non-null  object
 7   title         20404 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.4+ MB