In [2]:
import pandas as pd

In [4]:
peliculas = pd.read_parquet("df_final.parquet")
peliculas['popularity'] = peliculas['popularity'].astype(str)
peliculas['id'] = peliculas['id'].astype(str)

In [5]:
personas = pd.read_csv("C:/Users/Jose Quispe}/Desktop/SoyHenry/Proyecto Individual 1/credits.csv", dtype={'id':str})

In [24]:
personas.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [6]:
peliculas = peliculas.merge(personas, on='id')
peliculas.dropna(inplace=True)

In [31]:
peliculas.head(1)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,belongs_to_collection,genres,production_companies,production_countries,spoken_languages,release_year,return,cast,crew
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,2413.0,[],"['Adventure', 'Fantasy', 'Family']","['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],"['English', 'Français']",1995.0,4.043035,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [7]:
peliculas = peliculas[['id', 'revenue', 'release_date', 'cast', 'crew', 'return', 'budget', 'title' ]]

In [8]:
import ast

In [9]:
def convert(text):
    valores = []
    count = 0
    for i in ast.literal_eval(text):
        if count < 4:
            valores.append(i['name'])
        count += 1
    return valores

In [10]:
peliculas['cast'] = peliculas['cast'].apply(convert)

In [11]:
def convert_2(text):
    lista = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            lista.append(i['name'])
        return lista

In [12]:
peliculas['crew'] = peliculas['crew'].apply(convert_2)

In [15]:
peliculas.head(4)

,id,revenue,release_date,cast,crew,return,budget,title
1,8844,262797249.0,1995-12-15,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[],4.043035,65000000,Jumanji
2,15602,0.0,1995-12-22,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch],0.000000,0,Grumpier Old Men
3,31357,81452156.0,1995-12-22,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker],5.090760,16000000,Waiting to Exhale
4,11862,76578911.0,1995-02-10,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[],0.000000,0,Father of the Bride Part II

In [13]:
peliculas.to_parquet('peliculas.parquet', index=False)

In [14]:
peliculas['crew']

1                       []
2          [Howard Deutch]
3        [Forest Whitaker]
4                       []
5           [Michael Mann]
               ...
45435      [Saul Blinkoff]
45440     [Shanra J. Kehl]
45442                   []
45444           [Ben Rock]
45448     [Mark L. Lester]
Name: crew, Length: 20404, dtype: object